<div class="carte verset" data-item-id="{{verset._id}}">
    <div class="entete">{{verset.name}}</div>
    <div class="grid-carte-verset">
        <div class="karma">
            <!-- <img src="systems/trinites/images/karma-{{verset.data.karma}}.png" title="{{configVal 'karmas' verset.data.karma}}"> -->
            {{#if (eq verset.data.karma "lumiere")}}<i class="fas fa-sun"></i>{{/if}}
            {{#if (eq verset.data.karma "tenebre")}}<i class="fas fa-moon"></i>{{/if}}
        </div>
        <div class="favori">{{verset.data.favori}}</div>
        <div class="action"><a class="activer verset" title="Activer le Verset '{{verset.name}}'"><i class="fas fa-bolt"></i></a></div>
    </div>
    <div class="titre"><label>Effet du Verset</label></div>
    <div class="desc">{{editor content=verset.data.description target="verset.data.description" owner=true}}</div>
</div>