<div class="jet-comp" data-actor-id="{{actorId}}">

  <div class="titre-jet-comp">
    <div class="whisper-logo"><span>message privé </span><i class="far fa-eye-slash"></i></div>
    <div class="bloc-titre">
      <div class="titre"><i class="fas fa-dice"></i> Initiative ({{stats.competence}} {{stats.valeur}})</div>
    </div>
  </div>

</div>

<div class="grid-jet-comp">
  <div class="dice-back"><div class="roll dice-deva">{{stats.resultDeva.dieResult}}</div></div>
  {{#if (eq stats.nbDes 2)}}
    <div class="dice-back"><div class="roll dice-archonte">{{stats.resultArchonte.dieResult}}</div></div>
  {{else}}
    <div></div>
  {{/if}}

  <div class="dice-total">{{stats.initiativeDeva}}</div>
  {{#if (eq stats.nbDes 2)}}
    <div class="dice-total">{{stats.initiativeArchonte}}</div>
  {{else}}
    <div></div>
  {{/if}}

</div>