<div class="whisper-logo"><span>message privé </span><i class="far fa-eye-slash"></i></div>
<div class="carte verset" data-item-id="{{verset._id}}" data-actor-id="{{actorId}}">
    <div class="entete">{{verset.name}}</div>
    <div class="grid-carte-verset">
        <div class="karma">
            {{#if (eq verset.system.karma "lumiere")}}<i class="fas fa-sun" title="Karma {{verset.system.karma}}"></i>{{/if}}
            {{#if (eq verset.system.karma "tenebre")}}<i class="fas fa-moon" title="Karma {{verset.system.karma}}"></i>{{/if}}
        </div>
        <div class="favori">{{verset.system.favori}}</div>
        <div class="action"><a class="activer verset" title="Réciter le Verset '{{verset.name}}'"><i class="fas fa-bolt"></i></a></div>
        <div class="sentence">"{{verset.system.sentence}}"</div>
    </div>
    <div class="grid-stats-verset">
        <div class="logo"><i class="fas fa-clock" title="Durée"></i></div>
        <div class="stats">{{verset.system.duree}}</div>
        <div class="logo"><i class="fas fa-binoculars" title="Portée"></i></div>
        <div class="stats">{{verset.system.portee}}</div>
        <div class="logo"><i class="far fa-dot-circle" titel="Aire d'effet"></i></div>
        <div class="stats">{{verset.system.aireEffet}}</div>
    </div>
    <div class="grid-carte-verset">
        <div class="titre"><a class="details verset"><i class="fas fa-angle-right"></i></a><label>Effet du Verset</label></div>
    </div>
    <div class="desc">{{editor verset.system.description target="verset.system.description" owner=true}}</div>
</div>