<div class="whisper-logo"><span>message privé </span><i class="far fa-eye-slash"></i></div>
<div class="carte majeste" data-item-id="{{majeste._id}}" data-actor-id="{{actorId}}">
    <div class="entete">{{majeste.name}}</div>
    <div class="grid-carte-verset">
        <div class="karma">
            <i class="far fa-crown"></i>
        </div>
        <div class="favori"></div>
        <div class="action"><a class="activer majeste" title="Manifester la Majesté '{{majeste.name}}'"><i class="fas fa-bolt"></i></a></div>
    </div>
    <div class="grid-carte-verset">
        <div class="titre"><a class="details majeste"><i class="fas fa-angle-right"></i></a><label>Manifestation</label></div>
    </div>
    <div class="desc">{{editor majeste.system.manifestation target="majeste.system.manifestation" owner=true}}</div>
    <div class="grid-carte-verset">
        <div class="titre"><a class="details effetsMajeste"><i class="fas fa-angle-right"></i></a><label>Effets</label></div>
    </div>
    <div class="descEffet">{{editor majeste.system.effet target="majeste.system.effet" owner=true}}</div>
</div>