<div class="carte atout" data-item-id="{{atout._id}}">
    <div class="entete">{{atout.name}}</div>
    <div class="grid-carte-atout">
        <div class="couleur">
            <img src="systems/trinites/images/couleurs/blason-{{atout.data.couleur}}.png" title="{{configVal 'couleurs' atout.data.couleur}}">
        </div>
        <div class="messager">{{configVal 'messagers' atout.data.messager}}</div>
        <div class="action"><a class="activer atout" title="Activer l'atout '{{atout.name}}'"><i class="fas fa-bolt"></i></a></div>
        <div class="titre"><label>Effet de l'Atout</label></div>
    </div>
     <div class="desc">{{editor content=atout.data.description target="atout.data.description" owner=true}}</div>
    <!--<details>
        <summary>Effet de l'Atout</summary>
        <div class="desc">{{editor content=atout.data.description target="atout.data.description" owner=true}}</div>
    </details> -->
    <!-- <div><i class="fas fa-mercury"></i> <i class="fas fa-venus"></i> <i class="fas fa-mars"></i> <i class="fas fa-ankh"></i> <i class="fas fa-dragon"></i></div> -->
</div>