<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header occulte">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 class="occulte"><input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'atout"/></h1>
    </header>
    <div class="sheet-content atout occulte" data-item-id="{{item.id}}">
        <div class="grid-item-atout">
            <label>Epée de Feu</label>
            <select name="system.messager">
                {{selectOptions config.epeesFeu selected=data.system.messager labelAttr="label"}}
            </select>
            <label>Couleur</label>
            <select name="system.couleur">
                {{selectOptions config.couleurs selected=data.system.couleur}}
            </select>
        </div>
        <div class="titre-desc occulte">Effet de l'atout</div>
            {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
    </div>
</form>