<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom du Jardin" /></h1>
  </header>
  <div class="grid-item-jardin">
    <label class="marge-edit">Signe</label>
    <select class="marge-edit" name="system.archetype">
      {{selectOptions config.signes selected=data.system.archetype}}</select
    ><label>Localisation</label>
    <input name="system.localisation" type="text" value="{{data.system.localisation}}" placeholder="Localisation" />
    <label>Seuil</label>
    <input name="system.seuil" type="text" value="{{data.system.seuil}}" placeholder="seuil" /><label>Condition d'ouverture</label
    ><input name="system.condition" type="text" value="{{data.system.condition}}" /><label>Périodicité du Souffle</label
    ><input name="system.periodicite" type="text" value="{{data.system.periodicite}}" /><label>Durée du Souffle</label
    ><input name="system.duree" type="text" value="{{data.system.duree}}" />
  </div>
  <div class="sheet-content arme" data-item-id="{{item.id}}">
    <div class="titre-desc">Manifestation du Souffle</div>
            {{editor manifestationhtml target="system.manifestation" button=true engine="prosemirror" owner=owner editable=editable}}
    <div class="titre-desc">Description</div>
            {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
  </div>
</form>
