<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>
    <div class="sheet-content arme" data-item-id="{{item.id}}">
        <label class="marge-edit">Signe</label>
        <select class="marge-edit" name="system.signe">
            {{selectOptions config.signes selected=data.system.signe}}
        </select>
            <div class="titre-desc">Manifestation</div>
            {{editor manifestationhtml target="system.manifestation" button=true engine="prosemirror" owner=owner editable=editable}}
            <div class="titre-desc">Effets</div>
            {{editor effethtml target="system.effet" button=true engine="prosemirror" owner=owner editable=editable}}
    </div>
</form>