<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom du pouvoir"/></h1>
    </header>
    <div class="sheet-content pouvoir" data-item-id="{{item.id}}">
      <label>Savoir Occulte</label>
      <select name="system.savoirOcculte">
        {{selectOptions config.savoirsOccultes selected=data.system.savoirOcculte labelAttr="label"}}
      </select>
      <label>Origine : </label>{{origine}}
        <div class="titre-desc">Description du pouvoir</div> 
            {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
    </div>
</form>