<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128">
<div class="actor-info">
    <div class="actor-infos-line">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom"></h1>
    </div>
    <div class="actor-infos-line">
        <label>Sexe</label>
        <div class="small-size"><input name="data.sexe" type="text" value="{{data.data.sexe}}" placeholder="Sexe"></div>
        <label>Age</label>
        <div class="small-size"><input name="data.age" type="number" value="{{data.data.age}}" placeholder="Age"></div>
        <label>Taille</label>
        <div class="middle-size"><input name="data.taille" type="text" value="{{data.data.taille}}" placeholder="Taille"></div>
        <label>Métier</label>
        <div class="auto-size"><input name="data.metier" type="text" value="{{data.data.metier}}" placeholder="Métier"></div>
    </div>
    <div class="actor-infos-line">
        <label>Description</label>
        <div class="auto-size"><input name="data.description" type="text" value="{{data.data.description}}" placeholder="Description"></div>
    </div>
</div>