<div class="grand-livre">
    <h3><i class="fas fa-book-open"></i> Versets de Tenèbres</h3>
    <div class="grid-grand-livre">
        <div class="grid-verset">
            <div></div>
            <div class="titre">Verset</div>
            <div class="titre">Cumul</div>
            <div class="titre">Durée</div>
            <div class="titre">Portée</div>
            <div class="titre">Aire d'effet</div>
            {{#each versets as |verset id|}}
                    <div class="jet-verset"><a class="roll-verset" title="Jet de verset" data-item-id="{{verset._id}}"><i class="fas fa-dice"></i></a></div>
                    <div class="nom-verset" data-item-id="{{verset._id}}">{{verset.name}}</div>
                    <div class="cumul-verset"><input name="system.particularites.encombrant" type="checkbox" {{checked verset.system.cumul}} disabled/></div>
                    <div class="duree-verset">{{verset.system.duree}}</div>
                    <div class="portee-verset">{{verset.system.portee}}</div>
                    <div class="aire-verset">{{verset.system.aireEffet}}</div>
                    <div class="edit-verset"><a class="edit-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Editer" data-item-id="{{verset._id}}"> <i class="far fa-edit"></i></a></div>
                    <div class="delete-verset"><a class="suppr-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Supprimer" data-item-id="{{verset._id}}"><i class="fas fa-times-circle"></i></a></div>
            {{/each}}
        </div>    
    </div>       
</div>