<div class="theme-astral">
  <h3><i class="fas fa-star"></i> Thème Astral</h3>
  <div class="ligne-theme">
    <label>Archétype</label>
    <select name="system.themeAstral.archetype" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.archetype}}
    </select>
    {{#if (eq data.type "trinite")}}
      <label>Affinité</label>
      <select name="system.themeAstral.affinite" {{#unless unlocked}}disabled {{/unless}}>
        {{selectOptions config.affinites selected=data.system.themeAstral.affinite}}
      </select>
      <label>Décan</label>
      <select name="system.themeAstral.affiniteDecan" {{#unless unlocked}}disabled {{/unless}}>
        {{selectOptions config.cout_1_3 selected=data.system.themeAstral.affiniteDecan}}
      </select>
    {{/if}}
  </div>
  <div class="grid-theme">
    <label class="col-ascendant lig-titre">Ascendants</label>
    <select class="col-ascendant lig-theme-1" name="system.themeAstral.ascendant1" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.ascendant1}}
    </select>
    <select class="col-ascendant lig-theme-2" name="system.themeAstral.ascendant2" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.ascendant2}}
    </select>
    <label class="col-descendant lig-titre">Descendants</label>
    <select class="col-descendant lig-theme-1" name="system.themeAstral.descendant1" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.descendant1}}
    </select>
    <select class="col-descendant lig-theme-2" name="system.themeAstral.descendant2" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.descendant2}}
    </select>
    <select class="col-descendant lig-theme-3" name="system.themeAstral.descendant3" {{#unless unlocked}}disabled {{/unless}}>
      {{selectOptions config.signes selected=data.system.themeAstral.descendant3}}
    </select>
  </div>
</div>