<div class="competences">
                <h3><i class="fas fa-check"></i> COMPETENCES</h3>
                {{#if unlocked}}
                    <div class="param"><label>Nb de dés : </label>
                    <select name="system.nbDes">
                        {{selectOptions config.cout_1_2 selected=data.system.nbDes}}
                    </select>
                    </div>
                {{/if}}
                <div class="comp-grid">
                    <!-- COLONNE 1 -->
                    <div class="col-base-1 lig-titre-1">{{localize 'TRINITES.label.competence.enteteLocked'}}</div>
                    <div class="col-valeur-1 lig-titre-1">{{localize 'TRINITES.label.competence.valeur'}}</div>

                    <!-- GEMEAUX -->
                    <div class="col-image-1 lig-image-1"><img src="systems/trinites/assets/images/signes/gemeaux.png" title="{{localize 'TRINITES.label.signes.gemeaux'}}" height="40" width="40"></div>                
                    <div class="col-valSigne-1 lig-image-1"><input name="system.signes.gemeaux.valeur" type="number" value="{{data.system.signes.gemeaux.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-1">{{uppercase (localize "TRINITES.label.signes.gemeaux")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='1' signe='gemeaux' competence='art' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='2' signe='gemeaux' competence='empathie' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='3' signe='gemeaux' competence='seduction' }}

                    <!-- VIERGE -->
                    <div class="col-image-1 lig-image-2"><img src="systems/trinites/assets/images/signes/vierge.png" title="{{localize 'TRINITES.label.signes.vierge'}}" height="40" width="40"></div>
                    <div class="col-valSigne-1 lig-image-2"><input name="system.signes.vierge.valeur" type="number" value="{{data.system.signes.vierge.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-2">{{uppercase (localize "TRINITES.label.signes.vierge")}}</div>
                    
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='4' signe='vierge' competence='clairvoyance' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='5' signe='vierge' competence='emprise' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='6' signe='vierge' competence='meditation' }}

                    <!-- SAGITTAIRE -->
                    <div class="col-image-1 lig-image-3"><img src="systems/trinites/assets/images/signes/sagittaire.png" title="{{localize 'TRINITES.label.signes.sagittaire'}}" height="40" width="40"></div>
                    <div class="col-valSigne-1 lig-image-3"><input name="system.signes.sagittaire.valeur" type="number" value="{{data.system.signes.sagittaire.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-3">{{uppercase (localize "TRINITES.label.signes.sagittaire")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='7' signe='sagittaire' competence='survie' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='8' signe='sagittaire' competence='tir' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='9' signe='sagittaire' competence='vigilance' }}

                    <!-- POISSON -->
                    <div class="col-image-1 lig-image-4"><img src="systems/trinites/assets/images/signes/poisson.png" title="{{localize 'TRINITES.label.signes.poisson'}}" height="40" width="40"></div>
                    <div class="col-valSigne-1 lig-image-4"><input name="system.signes.poisson.valeur" type="number" value="{{data.system.signes.poisson.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-4">{{uppercase (localize "TRINITES.label.signes.poisson")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='10' signe='poisson' competence='erudition' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='11' signe='poisson' competence='langues' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='12' signe='poisson' competence='sciences' }}

                    <!-- BELIER -->
                    <div class="col-image-1 lig-image-5"><img src="systems/trinites/assets/images/signes/belier.png" title="{{localize 'TRINITES.label.signes.belier'}}" height="40" width="40"></div>
                    <div class="col-valSigne-1 lig-image-5"><input name="system.signes.belier.valeur" type="number" value="{{data.system.signes.belier.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-5">{{uppercase (localize "TRINITES.label.signes.belier")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='13' signe='belier' competence='corpsACorps' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='14' signe='belier' competence='melee' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='15' signe='belier' competence='tactique' }}                    

                    <!-- TAUREAU -->
                    <div class="col-image-1 lig-image-6"><img src="systems/trinites/assets/images/signes/taureau.png" title="{{localize 'TRINITES.label.signes.taureau'}}" height="40" width="40"></div>
                    <div class="col-valSigne-1 lig-image-6"><input name="system.signes.taureau.valeur" type="number" value="{{data.system.signes.taureau.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-1 lig-titre-6">{{uppercase (localize "TRINITES.label.signes.taureau")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='16' signe='taureau' competence='athletisme' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='17' signe='taureau' competence='endurance' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='1' row='18' signe='taureau' competence='force' }}      

                    <!-- COLONNE 2 -->
                    <div class="col-base-2 lig-titre-1">{{localize 'TRINITES.label.competence.enteteLocked'}}</div>
                    <div class="col-valeur-2 lig-titre-1">{{localize 'TRINITES.label.competence.valeur'}}</div>

                    <!-- BALANCE -->
                    <div class="col-image-2 lig-image-1"><img src="systems/trinites/assets/images/signes/balance.png" title="{{localize 'TRINITES.label.signes.balance'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-1"><input name="system.signes.balance.valeur" type="number" value="{{data.system.signes.balance.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-1">{{uppercase (localize "TRINITES.label.signes.balance")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='1' signe='balance' competence='documentation' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='2' signe='balance' competence='fouille' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='3' signe='balance' competence='intellect' }}  

                    <!-- SCORPION -->
                    <div class="col-image-2 lig-image-2"><img src="systems/trinites/assets/images/signes/scorpion.png" title="{{localize 'TRINITES.label.signes.scorpion'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-2"><input name="system.signes.scorpion.valeur" type="number" value="{{data.system.signes.scorpion.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-2">{{uppercase (localize "TRINITES.label.signes.scorpion")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='4' signe='scorpion' competence='discretion' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='5' signe='scorpion' competence='intrusion' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='6' signe='scorpion' competence='subterfuge' }}  

                    <!-- LION -->
                    <div class="col-image-2 lig-image-3"><img src="systems/trinites/assets/images/signes/lion.png" title="{{localize 'TRINITES.label.signes.lion'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-3"><input name="system.signes.lion.valeur" type="number" value="{{data.system.signes.lion.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-3">{{uppercase (localize "TRINITES.label.signes.lion")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='7' signe='lion' competence='commandement' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='8' signe='lion' competence='strategie' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='9' signe='lion' competence='volonte' }}  

                    <!-- CAPRICORNE -->
                    <div class="col-image-2 lig-image-4"><img src="systems/trinites/assets/images/signes/capricorne.png" title="{{localize 'TRINITES.label.signes.capricorne'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-4"><input name="system.signes.capricorne.valeur" type="number" value="{{data.system.signes.capricorne.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-4">{{uppercase (localize "TRINITES.label.signes.capricorne")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='10' signe='capricorne' competence='esquive' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='11' signe='capricorne' competence='pilotage' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='12' signe='capricorne' competence='rapidite' }}  

                    <!-- CANCER -->
                    <div class="col-image-2 lig-image-5"><img src="systems/trinites/assets/images/signes/cancer.png" title="{{localize 'TRINITES.label.signes.cancer'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-5"><input name="system.signes.cancer.valeur" type="number" value="{{data.system.signes.cancer.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-5">{{uppercase (localize "TRINITES.label.signes.cancer")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='13' signe='cancer' competence='artisanat' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='14' signe='cancer' competence='technologies' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='15' signe='cancer' competence='soins' }}  

                    <!-- VERSEAU -->
                    <div class="col-image-2 lig-image-6"><img src="systems/trinites/assets/images/signes/verseau.png" title="{{localize 'TRINITES.label.signes.verseau'}}" height="40" width="40"></div>
                    <div class="col-valSigne-2 lig-image-6"><input name="system.signes.verseau.valeur" type="number" value="{{data.system.signes.verseau.valeur}}" placeholder="0" {{#unless unlocked}}readonly{{/unless}}></div>
                    <div class="col-nom-2 lig-titre-6">{{uppercase (localize "TRINITES.label.signes.verseau")}}</div>

                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='16' signe='verseau' competence='astrologie' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='17' signe='verseau' competence='histoireSecrete' }}
                    {{> "systems/trinites/templates/partials/actor/pnj-part-competence.hbs" col='2' row='18' signe='verseau' competence='les8' }}  
                </div>
            </div>    
            <div class="domaines">
                <h3><i class="fas fa-check"></i> DOMAINES</h3>
                {{editor data.system.domaines target="system.domaines" button=true owner=true editable=true}}               
            </div>
            <div class="deux-col-50-50">
                <div class="col-A">
                    <div class="ressources">
                        <h3><i class="fas fa-euro-sign"></i> RESSOURCES</h3>
                        <div class="ress-grid">
                            <!-- TITRE -->
                            <div class="col-titre-vide"></div>
                            <div class="col-titre diminution"><label>Diminution</label></div>
                            <div class="col-titre duree"><label>Durée</label></div>
                            <!-- RICHESSE -->
                            <div class="colRess-dice"><a class="roll-ress" title="{{localize 'TRINITES.label.jetRessource'}}" data-ressource="richesse"><i class="fas fa-dice"></i></a></div>
                            <div class="colRess-nom">{{localize 'TRINITES.label.ressources.richesse'}}</div>
                            <div class="colRess-epuisee">
                                {{#if data.system.ressources.richesse.epuisee }}
                                    <div class="uncheck-richesse"><a title="Richesse épuisée"><i class="far fa-check-square"></i></a></div>
                                {{else}}
                                    <div class="check-richesse"><a title="Richesse épuisée"><i class="far fa-square"></i></a></div>
                                {{/if}}
                            </div>
                            <div class="colRess-valeur"><input name="system.ressources.richesse.valeur" type="number" value="{{data.system.ressources.richesse.valeur}}" placeholder="0" min="0" {{#unless unlocked}}disabled {{/unless}}></div>
                            <div class="colRess-diminution"><input name="system.ressources.richesse.diminution" type="number" value="{{data.system.ressources.richesse.diminution}}" placeholder="0" min="0" max="{{data.system.ressources.richesse.valeur}}"></div>                
                            <div class="colRess-duree"><input name="system.ressources.richesse.duree" type="text" value="{{data.system.ressources.richesse.duree}}" placeholder="Durée diminution"></div>
                            <!-- RESEAU -->
                            <div class="colRess-dice"><a class="roll-ress" title="{{localize 'TRINITES.label.jetRessource'}}" data-ressource="reseau"><i class="fas fa-dice"></i></a></div>
                            <div class="colRess-nom">{{localize 'TRINITES.label.ressources.reseau'}}</div>
                            <div class="colRess-valeur"><input name="system.ressources.reseau.valeur" type="number" value="{{data.system.ressources.reseau.valeur}}" placeholder="0" min="0" {{#unless unlocked}}disabled {{/unless}}></div>
                            <div class="colRess-diminution"><input name="system.ressources.reseau.diminution" type="number" value="{{data.system.ressources.reseau.diminution}}" placeholder="0" min="0" max="{{data.system.ressources.reseau.valeur}}"></div>                
                            <div class="colRess-duree"><input name="system.ressources.reseau.duree" type="text" value="{{data.system.ressources.reseau.duree}}" placeholder="Durée diminution"></div>
                            <!-- INFLUENCE -->
                            <div class="colRess-dice"><a class="roll-ress" title="{{localize 'TRINITES.label.jetRessource'}}" data-ressource="influence"><i class="fas fa-dice"></i></a></div>
                            <div class="colRess-nom">{{localize 'TRINITES.label.ressources.influence'}}</div>
                            <div class="colRess-valeur"><input name="system.ressources.influence.valeur" type="number" value="{{data.system.ressources.influence.valeur}}" placeholder="0" min="0" {{#unless unlocked}}disabled {{/unless}}></div>
                            <div class="colRess-diminution"><input name="system.ressources.influence.diminution" type="number" value="{{data.system.ressources.influence.diminution}}" placeholder="0" min="0" max="{{data.system.ressources.influence.valeur}}"></div>                
                            <div class="colRess-duree"><input name="system.ressources.influence.duree" type="text" value="{{data.system.ressources.influence.duree}}" placeholder="Durée diminution"></div>
                        </div>
                    </div>    
                </div>
                <div class="col-B">
                    <div class="lignes-de-vie">
                        <h3><i class="fas fa-heart"></i> LIGNES DE VIE</h3>
                        {{#if unlocked}}
                            <div class="param"><label>Nb lignes de vie : </label>
                            <select name="system.nbLigneVie">
                                {{selectOptions config.cout_1_3 selected=data.system.nbLigneVie}}
                                </select>
                                </div>
                            <div class="param"><label>Points de vie par ligne :</label><input name="system.pointsLigneVie" type="number" value="{{data.system.pointsLigneVie}}"></div>
                        {{/if}}
                        <div class="ligne-vie">
                            {{#times data.system.nbPointsVieMax}}
                                <a class="case-vie" title="{{@index}}" data-index="{{@index}}">{{#if (gte data.system.nbBlessure @index)}}<i class="fas fa-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}</a>
                                {{#if (eq @index data.system.ligneVie1)}}</div><div class="ligne-vie">{{/if}}
                                {{#if (eq @index data.system.ligneVie2)}}</div><div class="ligne-vie">{{/if}}
                            {{/times}}
                        </div>
                        <div class="etat-sante">
                            <label>Etat de santé : {{configVal 'etatSante' data.system.etatSante}} </label>
                            {{#if peutRegenerer}}
                                <div class="regen-btn"><a class="regen" title="Régénération par le Karma"><i class="fas fa-hand-holding-medical"></i></a></div>
                            {{/if}}
                        </div>
                    </div>    
                </div>            
            </div>
            