{{#if unlocked}}
  <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />
{{else}}
  {{#if (ne actor.img "icons/svg/mystery-man.svg")}}
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />
  {{else}}
    <div style="flex:initial; width:128px;"></div>
  {{/if}}
{{/if}}
<div class="actor-info">
  <div class="actor-infos-line">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" {{#unless unlocked}}readonly{{/unless}}/></h1>
    <div class="sous-type">
      <label>Type</label>
      <select name="system.sousType" {{#unless unlocked}}disabled {{/unless}}>
        {{#select data.system.sousType}}
          {{#each config.typePnj as |pnj keyPnj|}}
            <option value="{{keyPnj}}">{{pnj}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div> 
    <div class="middle-size"><a class="sheet-change-lock" title="{{localize 'TRINITES.label.unlockSheet'}}">
          {{#if unlocked}}<i class="fas fa-lock-open"></i>{{else}}<i class="fas fa-lock" ></i>{{/if}}</a>
      </div>
  </div>
  <div class="actor-infos-line">
    <label>Activité</label>
    <div class="big-size"><input name="system.activite" type="text" value="{{data.system.activite}}" {{#unless unlocked}}readonly{{/unless}} /></div>
  </div>  
</div>