<div class="deux-col-50-50">
    <div class = "karma-tenebres">
        <h3><i class="fas fa-sun"></i> Karma-Lumière</h3>
        <div class="grid-karma-tenebres">
            <div class="karma-tenebres-titre"><label>Réserve</label></div>
            <div class="karma-tenebres-valeur">
                <input name="system.karmaLumiere.value" type="number" value="{{data.system.karmaLumiere.value}}" placeholder="0" min="0" max="{{data.system.karmaLumiere.max}}">
                <label> / </label>
                <input name="system.karmaLumiere.max" type="number" value="{{data.system.karmaLumiere.max}}" placeholder="0" min="0" {{#unless unlocked}}disabled {{/unless}}>
            </div>
        </div>
    </div>
    <div class = "karma-tenebres">
        <h3><i class="fas fa-moon"></i> Karma-Ténèbres</h3>
        <div class="grid-karma-tenebres">
            <div class="karma-tenebres-titre"><label>Réserve</label></div>
            <div class="karma-tenebres-valeur">
                <input name="system.karmaTenebres.value" type="number" value="{{data.system.karmaTenebres.value}}" placeholder="0" min="0" max="{{data.system.karmaLumiere.max}}">
                <label> / </label>
                <input name="system.karmaTenebres.max" type="number" value="{{data.system.karmaTenebres.max}}" placeholder="0" min="0" {{#unless unlocked}}disabled {{/unless}}>
            </div>
        </div>
    </div>
</div>
<div class="une-col">    
    {{> "systems/trinites/templates/partials/actor/pnj-bloc-atouts.hbs"}}    
    {{> "systems/trinites/templates/partials/actor/pnj-bloc-versets.hbs"}}
    {{> "systems/trinites/templates/partials/actor/pnj-bloc-auras.hbs"}}
    {{> "systems/trinites/templates/partials/actor/pnj-bloc-pouvoirs.hbs"}}
    {{> "systems/trinites/templates/partials/actor/bloc-theme-astral.hbs"}}
</div>