<div class="lame-soeur">
    <h3><i class="fas fa-khanda"></i> Lame-sœur</h3>
    <div class="grid-lame">
        <label>Messager</label>
        <select name="system.lameSoeur.messager" {{#unless unlocked}}disabled {{/unless}}>
            {{selectOptions config.messagers selected=data.system.lameSoeur.messager labelAttr="label"}}
        </select>
        <div class="centrer"><a class="roll-lame" title="Jet de lame-soeur"><i class="fas fa-dice"></i></a></div>
        <label>Dégâts 4</label>
    </div>
    <div class="desc-lame"><textarea name="system.lameSoeur.description" placeholder="Description de la lame-soeur" {{#unless unlocked}}disabled {{/unless}}>{{data.system.lameSoeur.description}}</textarea></div>
    <h3 style="margin-top:1em"><i class="fas fa-khanda"></i> Atouts</h3>
    <div class="grid-atout">
        {{#each atouts as |atout id|}}
            <div class="item centrer"><a class="roll-atout" title="Jet d'atout" data-item-id="{{atout._id}}"><i class="fas fa-dice"></i></a></div>
            <div class="nom-atout" data-item-id="{{atout._id}}">{{atout.name}}</div>
            <div class="centrer"><a class="edit-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Editer" data-item-id="{{atout._id}}"> <i class="far fa-edit"></i></a></div>
            <div class="centrer"><a class="suppr-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Supprimer" data-item-id="{{atout._id}}"><i class="fas fa-times-circle"></i></a></div>
        {{/each}}     
    </div>
    {{#ifgt affLamesoeur 1}}
    <h3 style="margin-top:1em"><i class="fa-regular fa-dragon"></i> Dragon</h3>
    <div class="intro-dragon">
        <label>Points d’expérience dépensés dans les Apprentissages</label>
        <input name="system.lameSoeur.experienceApprentissages" type="number" value="{{data.system.lameSoeur.experienceApprentissages}}" {{#unless unlocked}}readonly{{/unless}}>
            <label style="margin-left:2em">Karma du Dragon</label>
            <input name="system.lameSoeur.dragon.karmaLumiere.value" type="number" value="{{data.system.lameSoeur.dragon.karmaLumiere.value}}" placeholder="0" min="0" max="{{data.system.lameSoeur.dragon.karmaLumiere.max}}">
            <label> / </label>
            <input name="system.lameSoeur.dragon.karmaLumiere.max" type="number" value="{{data.system.lameSoeur.dragon.karmaLumiere.max}}" {{#unless unlocked}}readonly{{/unless}}>
    </div>
    <div class="grid-atout">
        {{#each dragons as |dragon id|}}
            <div class="item centrer"><a class="roll-dragon" title="Utiliser le pouvoir" data-item-id="{{dragon._id}}"><i class="fas fa-dice"></i></a></div>
            <div class="nom-dragon" data-item-id="{{dragon._id}}">{{dragon.name}}</div>
            <div class="centrer"><a class="edit-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Editer" data-item-id="{{dragon._id}}"> <i class="far fa-edit"></i></a></div>
            <div class="centrer"><a class="suppr-item {{#unless @root.unlocked}}invisible{{/unless}}" title="Supprimer" data-item-id="{{dragon._id}}"><i class="fas fa-times-circle"></i></a></div>
        {{/each}}     
    </div>
    {{/ifgt}}
</div>