<div class="stats-trinite">
    <div class="deva">
        <h3>Deva</h3>
        <div class="grid-stats">
            <div class="colStats-titre"><label>Choeur</label></div>
            <div class="colStats-valeur">
                <select name="system.trinite.deva.choeur" {{#unless unlocked}}disabled {{/unless}}>
                    {{selectOptions config.choeurs selected=data.system.trinite.deva.choeur}}
                </select>
            </div>
            <div class="colStats-titre"><label>Karma</label></div>
            <div class="colStats-valeur">
                <input name="system.trinite.deva.karma.value" type="number" value="{{data.system.trinite.deva.karma.value}}" placeholder="0" min="0" max="{{data.system.trinite.deva.karma.max}}">
                <label> / </label>
                <input name="system.trinite.deva.karma.base" type="number" value="{{data.system.trinite.deva.karma.base}}" placeholder="0" min="0" data-tooltip="Base" data-tooltip-direction="UP">
                <input name="system.trinite.deva.karma.bonusVA" type="number" value="{{data.system.trinite.deva.karma.bonusVA}}" readonly data-tooltip="Bonus Vie antérieure" data-tooltip-direction="UP">
                <div class="logo-karma"><i class="fas fa-sun" data-tooltip="Régénérer le karma Lumière"></i></div>
            </div>
            <div class="colStats-titre"><label>Dettes</label></div>
            <div class="colStats-valeur"><input name="system.trinite.deva.dettes" type="number" value="{{data.system.trinite.deva.dettes}}" placeholder="0" min="0"></div>
            <div class="colStats-titre"><label>Credits</label></div>
            <div class="colStats-valeur"><input name="system.trinite.deva.credits" type="number" value="{{data.system.trinite.deva.credits}}" placeholder="0" min="0"></div>
        </div>
    </div>
    <div class="adam">
        <img src="systems/trinites/assets/images/trinite_occulte.png" title="{{actor.name}}">
        <h3>Adam'</h3>
        <div class="karma">
            <label>Karma</label>
            <input name="system.trinite.adam.karma.value" type="number" value="{{data.system.trinite.adam.karma.value}}" placeholder="0" min="0" max="{{data.system.trinite.adam.karma.max}}">
            <label> / </label>
            <input name="system.trinite.adam.karma.max" type="number" value="{{data.system.trinite.adam.karma.max}}" placeholder="0" min="0">            
            {{#if (eq data.system.trinite.adam.karma.type "lumiere")}}<div class="logo-karma"><i class="fas fa-sun" data-tooltip="Régénérer le karma Lumière"></i></div>{{/if}} 
            {{#if (eq data.system.trinite.adam.karma.type "tenebre")}}<div class="logo-karma"><i class="fas fa-moon" data-tooltip="Régénérer le karma Ténèbres"></i></div>{{/if}}            
        </div>
    </div>
    <div class="archonte">
        <h3>Archonte</h3>
        <div class="grid-stats">
            <div class="colStats-titre"><label>Légion</label></div>
            <div class="colStats-valeur">
                <select name="system.trinite.archonte.legion" {{#unless unlocked}}disabled {{/unless}}>
                    {{selectOptions config.legions selected=data.system.trinite.archonte.legion}}
                </select>
            </div>
            <div class="colStats-titre"><label>Karma</label></div>
            <div class="colStats-valeur">
                <input name="system.trinite.archonte.karma.value" type="number" value="{{data.system.trinite.archonte.karma.value}}" placeholder="0" min="0" max="{{data.system.trinite.archonte.karma.max}}">
                <label> / </label>
                <input name="system.trinite.archonte.karma.base" type="number" value="{{data.system.trinite.archonte.karma.base}}" placeholder="0" min="0" data-tooltip="Base" data-tooltip-direction="UP">
                <input name="system.trinite.archonte.karma.bonusVA" type="number" value="{{data.system.trinite.archonte.karma.bonusVA}}" readonly data-tooltip="Bonus Vie antérieure" data-tooltip-direction="UP">                
                <div class="logo-karma"><i class="fas fa-moon" data-tooltip="Régénérer le karma Ténèbres"></i></div>
            </div>
            <div class="colStats-titre"><label>Dettes</label></div>
            <div class="colStats-valeur"><input name="system.trinite.archonte.dettes" type="number" value="{{data.system.trinite.archonte.dettes}}" placeholder="0" min="0"></div>
            <div class="colStats-titre"><label>Credits</label></div>
            <div class="colStats-valeur"><input name="system.trinite.archonte.credits" type="number" value="{{data.system.trinite.archonte.credits}}" placeholder="0" min="0"></div>
        </div>
    </div>
</div>                