<form>
    <div>typeKarma : {{typeKarma}}</div>
    <div>typePouvoir : {{typePouvoir}}</div>
    <div>coutPouvoir : {{coutPouvoir}}</div>
    <div>karmaDeva : {{karmaDeva.valeur}}</div>
    <div>karmaArchonte : {{karmaArchonte.valeur}}</div>
    <div>karmaAdam : {{karmaAdam.valeur}}</div>
    <div>karmaAdam  (type) : {{karmaAdam.type}}</div>
</form>