<form>
    <div class="titre"><label>Difficulté de l'action</label></div>
    <div class="grid-diff">
        <div>Elémentaire</div>
        <div>+6</div>
        <div>Aisée</div>
        <div>+3</div>
        <div>Délicate</div>
        <div>0</div>
        <div>Ardue</div>
        <div>-3</div>
        <div>Audacieuse</div>
        <div>-6</div>
        <div>Prodigieuse</div>
        <div>-9</div>
    </div>
    <div class="grid-data">
        <label>Difficulté</label>
        <div class="data"><input type="number" name="difficulte" value="0"/></div>
        {{#if compLibre}}
            <label>Nombre d'actions libres simultanées</label>
            <div class="data"><input type="number" name="actionLibre" value="1" min="1"/></div>
        {{/if}}
    </div>
  
    <div class="grid-data-modificateurs">
        <div class="titre">Primes{{#if infoPrimesID}}
            <a class="content-link" data-type="JournalEntry" data-id="{{infoPrimesID}}" data-uuid="JournalEntry.{{infoPrimesID}}" title="Consultez l'entrée de journal dédiée pour une description des primes et pénalités"><i class="fas fa-info-circle"></i></a>
        {{/if}}</div>
        <div></div>
        <div class="titre">Pénalités</div>
        <div></div>
        <label data-tooltip="Durée -50% / Initiative +3" data-tooltop-direction="UP">{{cfgData.primes.acceleration.label}}</label>
        <input type="number" id="acceleration" name="acceleration" min="0"  max="10" value="0" />
        <label data-tooltip="Durée +50% / Initiative -3" data-tooltop-direction="UP">{{cfgData.penalites.ralentissement.label}}</label>
        <input type="number" id="ralentissement" name="ralentissement" min="0"  max="10" value="0" />        
        <label data-tooltip="Annule le -3 d'un échec" data-tooltop-direction="UP"l>{{cfgData.primes.circonspection.label}}</label>
        <input type="number" id="circonspection" name="circonspection" min="0"  max="10" value="0" />
        <label data-tooltip="Spécial" data-tooltop-direction="UP">{{cfgData.penalites.risque.label}}</label>
        <input type="number" id="risque" name="risque" min="0"  max="10" value="0" />
        <label data-tooltip="Résultat final +3" data-tooltop-direction="UP">{{cfgData.primes.efficacite.label}}</label>
        <input type="number" id="efficacite" name="efficacite" min="0"  max="10" value="0" />
        <label data-tooltip="Résultat final -3" data-tooltop-direction="UP">{{cfgData.penalites.difficulte.label}}</label>
        <input type="number" id="penaliteDifficulte" name="penaliteDifficulte" min="0"  max="10" value="0" />
        <label data-tooltip="Résultat final de la prochaine action +3" data-tooltop-direction="UP">{{cfgData.primes.prudence.label}}</label>
        <input type="number" id="prudence" name="prudence" min="0"  max="10" value="0" />
        <label data-tooltip="Résultat final de la prochaine action -3" data-tooltop-direction="UP">{{cfgData.penalites.danger.label}}</label>
        <input type="number" id="danger" name="danger" min="0"  max="10" value="0" />
        <label data-tooltip="Test de réaction adverse -3" data-tooltop-direction="UP">{{cfgData.primes.debordement.label}}</label>
        <input type="number" id="debordement" name="debordement" min="0"  max="10" value="0" />
        <label data-tooltip="Test de réaction adverse +3" data-tooltop-direction="UP">{{cfgData.penalites.facilite.label}}</label>
        <input type="number" id="facilite" name="facilite" min="0"  max="10" value="0" />
        <div></div>
        <div></div>
        <label data-tooltip="Spécial" data-tooltop-direction="UP">{{cfgData.penalites.consommation.label}}</label>
        <input type="number" id="consommation" name="consommation" min="0"  max="10" value="0" />
    </div>

    <div class="titre"><label>Domaine requis </label><i class="fas fa-info-circle" title="Lors d'une action régie par un domaine que vous ne maîtrisez pas, votre base effective est de 0."></i></div>
    <div class="grid-data">
        <label>Domaine non maitrisé</label>
        <div class="data"><input type="checkbox" name="sansDomaine"/></div>
    </div>
</form>    