<div class="jet-comp">
    <div class="titre-jet-comp">
        <div class="whisper-logo"><span>message privé </span><i class="far fa-eye-slash"></i></div>
        <div class="bloc-titre">
            <div class="titre"><i class="fas fa-mars-stroke-v"></i> Souffle {{stats.valeur}}</div> <!-- fa-check -->
            {{#if stats.difficulte}}<div class="diff"><i class="fas fa-tachometer-alt"></i> {{#if (gt stats.difficulte 0)}}+{{/if}}{{stats.difficulte}}</div>{{/if}}
        </div>   
    </div>
    <div class="grid-jet-comp">
        <div class="titre-esprit deva">Deva</div>
        <div class="titre-esprit archonte">Archonte</div>
        {{#if (eq stats.resultDeva.dieResult 1)}}
            <div class="dice-back"><div class="roll dice-deva echec-crit">{{stats.resultDeva.dieResult}}</div></div>
        {{else}}
            <div class="dice-back"><div class="roll dice-deva">{{stats.resultDeva.dieResult}}</div></div>
        {{/if}}
        {{#if (eq stats.resultArchonte.dieResult 1)}}
            <div class="dice-back"><div class="roll dice-archonte echec-crit">{{stats.resultArchonte.dieResult}}</div></div>
        {{else}}
            <div class="dice-back"><div class="roll dice-archonte">{{stats.resultArchonte.dieResult}}</div></div>
        {{/if}}
        {{#if (eq stats.resultDeva.dieResult 1)}}
            <div class="dice-total echec-crit">{{stats.resultDeva.rollTotal}}</div>
        {{else}}
            {{#if stats.resultDeva.reussite}}
                <div class="dice-total succes">{{stats.resultDeva.rollTotal}}</div>
            {{else}}
                <div class="dice-total echec">{{stats.resultDeva.rollTotal}}</div>
            {{/if}}
        {{/if}}
        {{#if (eq stats.resultArchonte.dieResult 1)}}
            <div class="dice-total echec-crit">{{stats.resultArchonte.rollTotal}}</div>
        {{else}}    
            {{#if stats.resultArchonte.reussite}}
                <div class="dice-total succes">{{stats.resultArchonte.rollTotal}}</div>
            {{else}}
                <div class="dice-total echec">{{stats.resultArchonte.rollTotal}}</div>
            {{/if}}
        {{/if}}
    </div>
    {{#if (eq stats.resultatJet "detteArchonte")}}
        <div class="btn-dette"><button class="dette archonte" data-actor-id="{{actorId}}" data-esprit="archonte" data-tooltip='Cliquer pour payer la dette'>Dette envers l'Archonte</button></div>
        <div class="carte hidden">
            <div class="entete">{{stats.nomPersonnage}} déclenche le Souffle</div>
            <div class="ligne-souffle">{{stats.aura.name}}</div>
            <div class="ligne-souffle">
                <div class="logo"><i class="far fa-dot-circle"></i></div>
                <div class="zone">{{configVal 'deploiement' stats.deploieInit}}</div> 
            </div>    
        </div>
    {{/if}}
    {{#if (eq stats.resultatJet "detteDeva")}}
        <div class="btn-dette"><button class="dette deva" data-actor-id="{{actorId}}" data-esprit="deva" data-tooltip='Cliquer pour payer la dette'>Dette envers le Deva</button></div>
        <div class="carte hidden">
            <div class="entete">{{stats.nomPersonnage}} déclenche le Souffle</div>
            <div class="ligne-souffle">{{stats.aura.name}}</div>
            <div class="ligne-souffle">
                <div class="logo"><i class="far fa-dot-circle"></i></div>
                <div class="zone">{{configVal 'deploiement' stats.deploieInit}}</div>
            </div>    
        </div>
    {{/if}}
    {{#if (eq stats.resultatJet "reussite")}}
        <div class="carte">
            <div class="entete">{{stats.nomPersonnage}} déclenche le Souffle</div>
            <div class="ligne-souffle">{{stats.aura.name}}</div>
            <div class="ligne-souffle">
                <div class="logo"><i class="far fa-dot-circle" title="Portée"></i></div>
                <div class="zone">{{configVal 'deploiement' stats.deploieInit}}</div>
            </div>    
        </div>
    {{/if}}
</div>