<div class="jet-ress">
    <div class="titre-jet-ress">
        <div class="whisper-logo"><span>message privé </span><i class="far fa-eye-slash"></i></div>
        <div class="bloc-titre">
            <div class="titre"><i class="fas fa-dice"></i> {{stats.ressource}} {{stats.valeur}}</div>
            {{#if stats.difficulte}}<div class="diff"><i class="fas fa-tachometer-alt"></i> {{#if (gt stats.difficulte 0)}}+{{/if}}{{stats.difficulte}}</div>{{/if}}
        </div>   
    </div>
    <div class="grid-jet-ress">
        <div class="titre-cout-ress">
            {{#if (and stats.domaine isTrinite)}} 
                <i class="fas fa-euro-sign"></i> {{stats.domaine.name}} - Coût {{stats.coutAcquisition}}
            {{else}}
                <i class="fas fa-euro-sign"></i> Coût d'acquisition {{stats.coutAcquisition}}
            {{/if}}
        </div>
        {{#if (eq stats.dieResult 1)}}
            <div class="dice-back"><div class="roll dice-ress echec-crit">{{stats.dieResult}}</div></div>
        {{else}}
            <div class="dice-back"><div class="roll dice-ress">{{stats.dieResult}}</div></div>
        {{/if}}
        {{#if (eq stats.dieResult 1)}}
            <div class="dice-total echec-crit">{{stats.rollTotal}}</div>
        {{else}}
            {{#if stats.reussite}}
                <div class="dice-total succes">{{stats.rollTotal}}</div>
            {{else}}
                <div class="dice-total echec">{{stats.rollTotal}}</div>
            {{/if}}
        {{/if}}     
        {{#if isTrinite}}  
            {{#if stats.reussite}}
                {{#if stats.dette}}<div class="dette-ress">Votre ressource '{{stats.ressource}}' sera diminuée de {{stats.dette.diminution}} point(s) pendant {{stats.dette.duree}}</div>{{/if}}
            {{else}}
                {{#if stats.domaine}}
                    <div class="ress-epuise">Votre domaine '{{stats.domaine.name}}' est épuisé</div>
                {{else}}
                    <div class="ress-epuise">Votre ressource '{{stats.ressource}}' est épuisée</div>
                {{/if}}
            {{/if}}
        {{/if}} 
    </div>
</div>