<div class="jet-comp">
    <div class="titre-jet-comp">
        <div class="box">
            <div class="titre"><i class="fas fa-check"></i> {{stats.competence}} {{stats.valeur}}</div>
            {{#if stats.difficulte}}<div class="diff"><i class="fas fa-tachometer-alt"></i> {{#if (gt stats.difficulte 0)}}+{{/if}}{{stats.difficulte}}</div>{{/if}}
        </div>   
    </div>
    <div class="grid-jet-comp">
        <div class="titre-esprit deva">Deva</div>
        <div class="titre-esprit archonte">Archonte</div>
        {{#if (eq stats.resultDeva.dieResult 1)}}
            <div class="dice-back"><div class="roll dice-deva echec-crit">{{stats.resultDeva.dieResult}}</div></div>
        {{else}}
            <div class="dice-back"><div class="roll dice-deva">{{stats.resultDeva.dieResult}}</div></div>
        {{/if}}
        {{#if (eq stats.resultArchonte.dieResult 1)}}
            <div class="dice-back"><div class="roll dice-archonte echec-crit">{{stats.resultArchonte.dieResult}}</div></div>
        {{else}}
            <div class="dice-back"><div class="roll dice-archonte">{{stats.resultArchonte.dieResult}}</div></div>
        {{/if}}
        {{#if (eq stats.resultDeva.dieResult 1)}}
            <div class="dice-total echec-crit">{{stats.resultDeva.rollTotal}}</div>
        {{else}}
            {{#if stats.resultDeva.reussite}}
                <div class="dice-total succes">{{stats.resultDeva.rollTotal}}</div>
            {{else}}
                <div class="dice-total echec">{{stats.resultDeva.rollTotal}}</div>
            {{/if}}
        {{/if}}
        {{#if (eq stats.resultArchonte.dieResult 1)}}
            <div class="dice-total echec-crit-shadow">{{stats.resultArchonte.rollTotal}}</div>
        {{else}}    
            {{#if stats.resultArchonte.reussite}}
                <div class="dice-total succes-shadow">{{stats.resultArchonte.rollTotal}}</div>
            {{else}}
                <div class="dice-total echec-shadow">{{stats.resultArchonte.rollTotal}}</div>
            {{/if}}
        {{/if}}
    </div>
    {{#if stats.karmaAdam}}
        {{#if (eq stats.karmaAdam "lumiere")}}
            {{#if (not stats.resultDeva.reussite)}}
                {{#if stats.resultArchonte.reussite}}
                    <div class="btn-dette"><button class="dette archonte" data-esprit="archonte">Dette Archonte</button></div>
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if (eq stats.karmaAdam "tenebre")}}
            {{#if (not stats.resultArchonte.reussite)}}
                {{#if stats.resultDeva.reussite}}
                    <div class="btn-dette"><button class="dette deva" data-esprit="deva">Dette Deva</button></div>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/if}}
    
    <!-- <i class="fas fa-trophy"></i> reussite 
         <i class="fas fa-thumbs-down"></i> echec
         <i class="fas fa-tachometer-alt"></i> difficulte 
    -->
</div>